# =========================
# Miscellaneous
# =========================
*.class
*.log
*.pyc
*.swp
.DS_Store
.history/
.svn/
.swiftpm/
migrate_working_dir/

# =========================
# IDEs
# =========================
.idea/
*.iml
*.ipr
*.iws

# Uncomment if you want VS Code settings ignored
#.vscode/

# =========================
# Flutter / Dart
# =========================
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/
coverage/

# =========================
# Android
# =========================
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.java

# =========================
# iOS / macOS
# =========================
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig

macos/Pods/

# =========================
# Web
# =========================
web/.dart_tool/

# =========================
# Symbolication / Obfuscation
# =========================
app.*.symbols
app.*.map.json

.env
